include uv.lock
exclude ls/docs/releases/4.44.1.json
recursive-include vendor/lscli *
recursive-include assets *
prune ls/docs/local-context
prune ls/.cache
prune .localsetup-maint
global-exclude __pycache__/*
global-exclude *.pyc
global-exclude *.pyo
